body {
  margin: 0;
  padding: 20px;
  background-color: #f2f4f7;
  font-family: Arial, sans-serif;
}

.app {
  margin-top: 20px;
  padding: 15px;
  background: white;
  width: 300px;
  border-radius: 8px;
}

.input-section {
  display: flex;
  gap: 8px;
}

#taskList {
  margin-top: 10px;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  background: #eaeaea;
  margin-top: 5px;
  border-radius: 5px;
}
.task button {
  background-color: red;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
